    <aside class="sidebar">
      <div class="sidebar-content">
        <h3>Contact Details</h3>
        <div class="contact-info">
          
          <p><strong>📧 Email Support:</strong><br>
          <a href="mailto:bcsupport@braintree.co.za">bcsupport@braintree.co.za</a></p>
          
          <p><strong>📞 Phone a Friend:</strong><br>
          +27 (87) 805 1665</p>
          
          <p><strong>🌐 Visit us:</strong><br>
          <a href="https://www.braintree.co.za">www.braintree.co.za</a><br><br></p>

          <p><strong><a href="{{ 'https://braintree-brainworx.github.io/Braintree-Support-Summary/TeamsChat' | relative_url }}">💬 Chat on Teams</a></strong><br></p>
    
          <p><strong><a href="{{ 'https://braintree-brainworx.github.io/Braintree-Support-Summary/TeamsLink' | relative_url }}">📱 Call on Teams</a></strong><br></p>
          
          <p><strong>🕗 Support Hours:</strong><br>
          Monday - Friday<br>
          08h00 - 17h00 SAST (UTC+2)</p>
        </div>
      </div>
    </aside>
