<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Language and geo meta tags -->
<meta name="language" content="English">
<meta http-equiv="content-language" content="en-US">

<!-- Setup Google Analytics -->
<!-- Uncomment and add your GA4 tracking ID -->
<!-- {% include head-custom-google-analytics.html %} -->

<!-- You can set your favicon here -->
<!-- Uncomment and add your favicon.ico file to the root -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"> -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/logo.jpg' | relative_url }}">

<!-- end custom head snippets -->
