    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/VendorRecon/RunVendorRecon' | relative_url }}">Vendor Reconciliations</a></li>
    <li><a href="{{ '/DCM/RunDebtors' | relative_url }}">Debtors Collections</a></li>
    <li><a href="{{ '/FEC/FEC' | relative_url }}">Forward Exchange Contracts</a></li>
    <li><a href="{{ '/LandedCost/LandedCostPreReleaseNotice' | relative_url }}">Landed Cost</a></li>    
    <li><a href="{{ '/Resources/WhatsNew' | relative_url }}">Release Notes</a></li>